<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Time to clean the dishes&#8230;	</title>
	<atom:link href="http://localhost/wordpress2017/2020/03/22/time-to-clean-the-dishes/feed/" rel="self" type="application/rss+xml" />
	<link>https://mensah-slider-76701.netlify.com/2020/03/22/time-to-clean-the-dishes/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Sun, 22 Mar 2020 20:42:56 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
