<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Uncategorized &#8211; Vision17</title>
	<atom:link href="http://localhost/wordpress2017/category/uncategorized/feed/" rel="self" type="application/rss+xml" />
	<link>http://mensah-slider-76701.netlify.com/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Sun, 22 Mar 2020 20:42:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Time to clean the dishes&#8230;</title>
		<link>https://mensah-slider-76701.netlify.com/2020/03/22/time-to-clean-the-dishes/</link>
				<comments>https://mensah-slider-76701.netlify.com/2020/03/22/time-to-clean-the-dishes/#respond</comments>
				<pubDate>Sun, 22 Mar 2020 20:42:56 +0000</pubDate>
		<dc:creator><![CDATA[omari]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://mensah-slider-76701.netlify.com/?p=39</guid>
				<description><![CDATA[]]></description>
								<content:encoded><![CDATA[
<div class="wp-block-cover has-background-dim" style="background-image:url(https://mensah-slider-76701.netlify.com/wp-content/uploads/2020/03/bazz_KODO_912_2017-01.png)"><div class="wp-block-cover__inner-container">
<p class="has-text-align-center has-large-font-size"></p>
</div></div>
]]></content:encoded>
							<wfw:commentRss>https://mensah-slider-76701.netlify.com/2020/03/22/time-to-clean-the-dishes/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>My, now, have the&#8230;.JAMStack!</title>
		<link>https://mensah-slider-76701.netlify.com/2020/03/22/my-now-have-the-jamstack/</link>
				<comments>https://mensah-slider-76701.netlify.com/2020/03/22/my-now-have-the-jamstack/#respond</comments>
				<pubDate>Sun, 22 Mar 2020 02:59:40 +0000</pubDate>
		<dc:creator><![CDATA[omari]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://mensah-slider-76701.netlify.com/?p=32</guid>
				<description><![CDATA[Oh, Thank you Lord! Just when you thought the web was done.]]></description>
								<content:encoded><![CDATA[
<p>Oh, Thank you Lord! Just when you thought the web was done.</p>
]]></content:encoded>
							<wfw:commentRss>https://mensah-slider-76701.netlify.com/2020/03/22/my-now-have-the-jamstack/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Hello Worlds!</title>
		<link>https://mensah-slider-76701.netlify.com/2020/03/22/hello-world/</link>
				<comments>https://mensah-slider-76701.netlify.com/2020/03/22/hello-world/#respond</comments>
				<pubDate>Sun, 22 Mar 2020 01:26:05 +0000</pubDate>
		<dc:creator><![CDATA[mensah]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://mensah-slider-76701.netlify.com/?p=1</guid>
				<description><![CDATA[She likes bacon on hot summer days! Welcome to WordPress. This is your first post. Edit or delete it, then start writing!]]></description>
								<content:encoded><![CDATA[
<h2>She likes bacon on hot summer days!</h2> 
<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>



<p></p>
]]></content:encoded>
							<wfw:commentRss>https://mensah-slider-76701.netlify.com/2020/03/22/hello-world/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
