<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Vision17	</title>
	<atom:link href="http://localhost/wordpress2017/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://PLACEHOLDER.wpsho/</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Sun, 22 Mar 2020 21:36:08 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
